#compose {
  transform: translateY(-10px) translateX(-20px);
}

#sent:checked ~ main #sentmails,
#drafts:checked ~ main #draftmails {
  display: block !important;
}

#body {
  resize: none !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 120px !important;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-span-2 {
  grid-column: 2 span;
}
